
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-top: 0vh;

    font-family: 'Amiri', serif;

  }

.container{
height: 100%;
align-content: center;
display: flex;
align-items: stretch;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 370px;
background-color: rgba(218, 218, 218, 0.5) !important;
}

.social_icon span{
font-size: 50px;
margin-left: 10px;
color: #977308;
}

.fa-facebook-square {
  color: #3b5898;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.fa-google-plus-square{
  color: #cf0b0b;
  background-image: linear-gradient( to bottom, transparent 5%, white 20%, white 93%, transparent 60% );
}

.fa-twitter-square{
  color: #06a2fc;
  background-image: linear-gradient( to bottom, transparent 5%, white 20%, white 93%, transparent 60% );
}


.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -3px;
}

.input-group-prepend span{
width: 40px;
background-color: #ffca2b;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.tab_logic {

  border-collapse: collapse;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  
}











